@page "/entities";
@using System.Net
@using Application.DTOs
@using Application.ServiceInterfaces
@using Frontend.Components;
@using Frontend.Services;
@using Microsoft.Extensions.Localization;
@inject IEntityService entityService;
@inject ErrorService errorService;
@inject NavigationManager navigationManager;
@inject IStringLocalizer<Entities> L;

@* PAGE CONTAINER *@
<div class="d-flex flex-column border rounded-3" style="height:90vh;">
    @* HEADER *@
    <div class="d-flex flex-row justify-content-between align-content-center px-4 pt-4">
        <h3>@L["PageTitle"]</h3>
        <button class="btn btn-primary" @onclick="AddNewEntity">
            @L["AddNewEntityButton"]
        </button>
    </div>
    <hr/>
    @* CONTENT *@
    <div class="d-flex flex-row px-4 pb-4" style="height: calc(100% - 120px);">
        @if (isLoadingData)
        {
            <Spinner />
        }
        else if (allEntities.Count == 0)
        {
            <p>@L["NoEntitiesFoundMessage"]</p>
        }
        else
        {
            @* ENTITIES LIST*@
            <div class="d-flex flex-column gap-2" style="overflow-y:auto;">
                @foreach (var entity in allEntities)
                {
                    <EntityListItem Entity="entity" OnSelectEntity="SelectEntity" OnDeleteEntity="DeleteEntity" OnEditEntity="EditEntity" IsSelected="IsEntitySelected(entity)" />
                }
            </div>
        }
        @* DETAILS OF THE SELECTED ENTITY *@
        <div class="d-flex flex-column border border-black rounded ms-2 flex-grow-1">
            @if (selectedEntity is null)
            {
                <p class="px-4 pt-4 text-black">@L["SelectEntityPrompt"]</p>
            }
            else
            {
                <EntityDetailView SelectedEntity="selectedEntity" />
            }
        </div>
    </div>
</div>

@code {
    private List<EntityDto> allEntities = new();
    private EntityDto? selectedEntity = null;
    private bool isLoadingData = true;

    protected override async Task OnInitializedAsync() {
        await LoadEntities();
    }

    private bool IsEntitySelected(EntityDto entity)
    {
        return selectedEntity != null && selectedEntity.Id == entity.Id;
    }

    private async Task LoadEntities() {
        try
        {
            isLoadingData = true;
            allEntities = (await entityService.GetAllAsync()).ToList();
        }
        catch (Exception e)
        {
            allEntities = new();
            errorService.ShowError($"Failed to load entities {e.Message}");
        }
        finally
        {
            isLoadingData = false;
        }
    }

    private void SelectEntity(EntityDto newSelectedEntity)
    {
        if (newSelectedEntity == selectedEntity)
        {
            selectedEntity = null;
            return;
        }
        selectedEntity = newSelectedEntity;
    }

    private async Task DeleteEntity(EntityDto entityToDelete)
    {
        try
        {
            var status = await entityService.DeleteAsync(entityToDelete.Id);
            if (status) {
                if (selectedEntity?.Id == entityToDelete.Id)
                    selectedEntity = null;
                await LoadEntities();
            }
        } 
        catch (Exception ex)
        {
            errorService.ShowError(ex.Message);
        }
    }

    private void EditEntity(EntityDto entityToEdit)
    {
        string currentUrl = navigationManager.Uri;
        string encodedReturnUrl = WebUtility.UrlEncode(currentUrl);
        navigationManager.NavigateTo($"/entity/edit/{entityToEdit.Id}?returnUrl={encodedReturnUrl}");
    }

    private void AddNewEntity()
    {
        navigationManager.NavigateTo("/entity/add");
    }
}