@page "/entities";
@using Application.ServiceInterfaces;
@using Application.DTOs;
@using Frontend.Components;
@inject IEntityService entityService;

@* PAGE CONTAINER *@
<div class="d-flex flex-column border rounded-3" style="height:90vh;">
    @* HEADER *@
    <div class="d-flex flex-row justify-content-between align-content-center px-4 pt-4">
        <h3>Economic Entites</h3>
        <button class="btn btn-primary" @onclick="ShowNewEntityModal">
            Add New Entity
        </button>
    </div>
    <hr/>
    @* CONTENT *@
    <div class="d-flex flex-row px-4 pb-4" style="height: calc(100% - 120px);">
        @if (allEntities is null) 
        {
            <p>Loading...</p>
        } 
        else if (allEntities.Count == 0) 
        {
            <p>No entities found</p>
        } 
        else 
        {
            @* ENTITIES LIST*@
            <div class="d-flex flex-column gap-2" style="overflow-y:auto;">
                @foreach (var entity in allEntities)
                {
                    <EntityListItem Entity="entity" OnSelectEntity="SelectEntity" OnDeleteEntity="DeleteEntity" OnEditEntity="EditEntity" IsSelected="IsEntitySelected(entity)" />
                }
            </div>
        }
        @* DETAILS OF THE SELECTED ENTITY *@
        <div class="d-flex flex-column border border-black rounded ms-2 flex-grow-1">
            @if (selectedEntity is null) 
            {
                <p class="px-4 pt-4 text-black">Select an entity...</p>
            } 
            else 
            {
                <EntityDetailView SelectedEntity="selectedEntity" />
            }
        </div>
    </div>
</div>

@* ADD NEW ENTITY MODAL *@
<Modal Title="Add New Entity" IsVisible="isAddingNewEntity" OnClose="ShowNewEntityModal">
    <EntityForm SubmitCallback="ShowNewEntityModal" isActive="isAddingNewEntity" />
</Modal>
@* EDIT ENTITY MODAL *@
<Modal Title="Edit Entity" IsVisible="isEditingEntity" OnClose="ShowEditEntityModal">
    <EntityForm SubmitCallback="ShowEditEntityModal" EntityInstance="entityToEdit" isActive="isEditingEntity" />
</Modal>

@code {
    private IList<EntityDto> allEntities = new List<EntityDto>();
    private EntityDto? selectedEntity = null;
    private EntityDto? entityToEdit = null;
    private bool isAddingNewEntity = false;
    private bool isEditingEntity = false;

    protected override async Task OnInitializedAsync() {
        await LoadEntities();
    }

    private bool IsEntitySelected(EntityDto entity)
    {
        return selectedEntity != null && selectedEntity.Id == entity.Id;
    }

    private async Task LoadEntities() {
        try 
        {
            allEntities = (await entityService.GetAllAsync()).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void SelectEntity(EntityDto newSelectedEntity)
    {
        if (newSelectedEntity == selectedEntity)
        {
            selectedEntity = null;
            return;
        }
        selectedEntity = newSelectedEntity;
    }

    private async Task DeleteEntity(EntityDto entityToDelete)
    {
        var status = await entityService.DeleteAsync(entityToDelete.Id);
        if (status) {
            selectedEntity = null;
            await LoadEntities();
            StateHasChanged();
        }
    }

    private async Task EditEntity(EntityDto entityToEdit)
    {
        this.entityToEdit = entityToEdit;
        await ShowEditEntityModal();
        StateHasChanged();
    }

    private async Task ShowNewEntityModal()
    {
        isAddingNewEntity = !isAddingNewEntity;
        await LoadEntities();
        StateHasChanged();
    }

    private async Task ShowEditEntityModal() {
        isEditingEntity = !isEditingEntity;
        await LoadEntities();
        StateHasChanged();
    }
}
